<div>
	<a href="/p/view/angebot/regio/laender_tickets.shtml?dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Laender-tickets-default_LZ01">
		<img class="responsive-image" src="{{env.damUrl}}{{component.image}}"/>
	</a>
	
	<div class="text clearfix">
		
			<h2 class="light">{{component.title}}</h2>
			<form class="openurl" action="/bin/openurl.pl" method="get">
	
			<div class="custom-select">
				<select class="dropdown" name="MEWurl">
		
					<option value="/p/view/angebot/regio/laender_tickets.shtml?dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Laender-tickets-default_LZ01" data-imgurl="" data-target="">Bitte wählen Sie Ihr Bundesland</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=1&amp;returnurl=https://www.bahn.de/regional/view/regionen/bawue/freizeit/bawue_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_BW-Ticket_LZ08" data-imgurl="" data-target="">Baden-Württemberg-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=2&amp;returnurl=https://www.bahn.de/regional/view/regionen/bayern/freizeit/bayernticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Bayern-Ticket_LZ08" data-imgurl="" data-target="">Bayern-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=3&amp;returnurl=https://www.bahn.de/regional/view/regionen/berlin_brbg/freizeit/brandenburgticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Berlin-BB-Ticket_LZ08" data-imgurl="" data-target="">Berlin (Brandenburg-Berlin-Ticket)</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=8&amp;returnurl=https://www.bahn.de/regional/view/regionen/niedersa/freizeit/niedersa_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Bremen-Niedersachsen-Ticket_LZ08" data-imgurl="" data-target="">Bremen (Niedersachsen-Ticket)</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=8&amp;returnurl=https://www.bahn.de/regional/view/regionen/niedersa/freizeit/niedersa_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Hamburg-Niedersachsen-Ticket_LZ08" data-imgurl="" data-target="">Hamburg (Niedersachsen-Ticket)</option>
		
					<option value="https://www.bahn.de/regional/view/regionen/hessen/freizeit/hessenticket.shtml?dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Hessen-Ticket_LZ01" data-imgurl="" data-target="">Hessenticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=7&amp;returnurl=https://www.bahn.de/regional/view/regionen/meckpomm/freizeit/meckpomm_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_MV-Ticket_LZ08" data-imgurl="" data-target="">Mecklenburg-Vorpommern-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=8&amp;returnurl=https://www.bahn.de/regional/view/regionen/niedersa/freizeit/niedersa_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Niedersachsen-Ticket_LZ08" data-imgurl="" data-target="">Niedersachsen-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=10&amp;returnurl=https://www.bahn.de/regional/view/regionen/rhldpfalz/freizeit/rhldpfalz_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_RP-Ticket_LZ08" data-imgurl="" data-target="">Rheinland-Pfalz-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=11&amp;returnurl=https://www.bahn.de/p/view/angebot/regio/saar/saarland-ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Saarland-Ticket_LZ08" data-imgurl="" data-target="">Saarland-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=13&amp;returnurl=https://www.bahn.de/regional/view/regionen/sanhalt/freizeit/laenderticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Sachsen-Anhalt-Ticket_LZ08" data-imgurl="" data-target="">Sachsen-Anhalt-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=12&amp;returnurl=https://www.bahn.de/regional/view/regionen/sachsen/freizeit/sachsen_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Sachsen-Ticket_LZ08" data-imgurl="" data-target="">Sachsen-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=14&amp;returnurl=https://www.bahn.de/regional/view/regionen/schholst/freizeit/schholdt_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_SH-Ticket_LZ08" data-imgurl="" data-target="">Schleswig-Holstein-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=9&amp;returnurl=https://www.bahn.de/regional/view/regionen/nrw/freizeit/schoenertag_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_NRW-Ticket_LZ08" data-imgurl="" data-target="">SchönerTagTicket NRW</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=15&amp;returnurl=https://www.bahn.de/regional/view/regionen/thuer/freizeit/laenderticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_Thueringen-Ticket_LZ08" data-imgurl="" data-target="">Thüringen-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=20&amp;returnurl=https://www.bahn.de/p/view/angebot/regio/schoenes_wochenende_ticket.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_SWT_LZ08" data-imgurl="" data-target="">Schönes-Wochenende-Ticket</option>
		
					<option value="https://www.bahn.de/-fahrkarten/privatkunde/pauschalpreisbuchen/pauschalpreis_start.post?angebotsgruppe=30&amp;returnurl=https://www.bahn.de/regional/view/regionen/freizeit/quer-durchs-land.shtml&amp;scope=standalone&amp;dbkanal_007=L01_S01_D001_KIN0001_Regio_TZ1_P1_BT_S_AL_QDL_LZ08" data-imgurl="" data-target="">Quer-durchs-Land-Ticket</option>
		
			</select>
	 </div> 
			<input type="submit" class="btn" value="Weiter">
	</form>
	</div>
</div>