<!-- Header -->
<nav class="navbar navbar-default mgn-train-header"></nav>

<!-- Navigation -->
<nav class="navbar navbar-default affix-top mgn-train-navigation"></nav>

<!-- Content -->
<div class="container" *ngIf="isDataLoaded">
	<!-- Main areas -->
	<div class="row mgn-train-section">
		<div class="col-xs-12 col-md-6" areaName="left" cms-area list-area></div>
		<div class="col-xs-12 col-md-6" areaName="right" cms-area list-area></div>
	</div>
	
	<!-- Schedule area -->
	<div class="row mgn-train-section">
		<div class="col-xs-12" areaName="schedule" cms-area list-area></div>
	</div>
</div>

<!-- Footer -->
<footer class="mgn-train-footer"></footer>