<div class="mgn-banners">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div [style.background-image]="backgroundStyle(component.background1)" class="mgn-banner">
					<a href="http://app.airasiabig.com/?_ga=2.86820760.1428765842.1521538884-968597545.1521538884" style="color:#888">
						<p>
							{{component.line11}}<br>{{component.line12}}
						</p>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div [style.background-image]="backgroundStyle(component.background2)" class="mgn-banner">
					<a href="http://app.airasiabig.com/?_ga=2.86820760.1428765842.1521538884-968597545.1521538884" style="color:#FFF">
						<p>
							{{component.line21}}<br>{{component.line22}}
						</p>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div [style.background-image]="backgroundStyle(component.background3)" class="mgn-banner">
					<a href="http://app.airasiabig.com/?_ga=2.86820760.1428765842.1521538884-968597545.1521538884" style="color:#000">
						<p>
							{{component.line31}}<br>{{component.line32}}
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>