<ul class="main-nav-left">
        <li>
            <a href="/p/view/angebot/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi_berater_LZ01" class="menu-link"><span>Tickets &amp; Angebote</span></a>
            <div class="clearfix"><ul>
                    <li><a href="/p/view/angebot/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-uebersicht_LZ01">Übersicht: Tickets &amp; Angebote</a></li>
                    <li><a href="/p/view/angebot/flexpreis.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-flexpreis_LZ01">Flexpreis</a></li>
                    <li><a href="/p/view/angebot/sparpreis/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-sparpreis_LZ01">Sparpreis</a></li>
                    <li><a href="/p/view/angebot/sparpreis-europa/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-es_LZ01">Sparpreis Europa</a></li>
                    <li><a href="/p/view/angebot/gruppen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-gruppen_LZ01">Gruppenreisen</a></li>
                    <li><a href="/p/view/angebot/regio/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-regio_LZ01">Regionale Angebote</a></li></ul><ul>
                    <li><a href="/p/view/angebot/verbuende/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-verkehrsverbuende_LZ01">Verkehrsverbünde</a></li>
                    <li><a href="/p/view/angebot/fernbus/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-fernbusse_LZ01">Fernbusse</a></li>
                    <li><a href="/p/view/angebot/pendler/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-pendlerangebote_LZ01">Pendler &amp; Vielfahrer</a></li>
                    <li><a href="/p/view/angebot/international/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-international_LZ01">Internationale Angebote</a></li>
                    <li><a href="/p/view/angebot/nachtzug/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-cnl_LZ01">Reisen über Nacht</a></li>
                    <li><a href="/p/view/angebot/zusatzticket/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-zusatzticket_LZ01">Zusatz-Tickets</a></li></ul><ul>
                    <li><a href="/p/view/angebot/sitzplatzreservierung/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-reservierung_LZ01">Sitzplatzreservierung</a></li>
                    <li><a href="/p/view/angebot/versicherungen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-versicherungen_LZ01">Versicherungen</a></li>
                    <li><a href="/p/view/angebot/gutscheine.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-geschenkgutschein_LZ01">Geschenkgutschein</a></li>
                    <li><a href="/p/view/angebot/uebersicht_online_nicht_buchbar.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-guenstiger_LZ01">Weitere ggf. günstigere Angebote</a></li></ul>
                
                <div class="footer">
                    <p><b>Tipp:</b> Nutzen Sie den Angebotsberater, um das für Sie passende Angebot zu finden!</p>
                    <a href="/p/view/angebot/berater.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_angebote-angebotsberater_LZ01">Zum Angebotsberater</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/p/view/service/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-service_LZ01" class="menu-link"><span>Reise &amp; Services</span></a>
            <div class="clearfix"><ul>
                    <li><a href="/p/view/service/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-uebersicht_LZ01">Übersicht: Reise &amp; Services</a></li>
                    <li><a href="/p/view/service/buchung/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-buchung_LZ01">Informationen zur Buchung</a></li>
                    <li><a href="/p/view/service/auskunft/puenktlichkeits_tools.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-auskunft_LZ01">Aktuelle Meldungen &amp; Verspätungen</a></li>
                    <li><a href="/p/view/service/fahrplaene/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-fahrplaene_LZ01">Fahrpläne</a></li>
                    <li><a href="/p/view/service/bahnhof/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-bahnhof_LZ01">Am Bahnhof</a></li>
                    <li><a href="/p/view/service/zug/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-zug_LZ01">Im Zug</a></li></ul><ul>
                    <li><a href="/p/view/service/fundservice.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-fundservice_LZ01">Fundservice</a></li>
                    <li><a href="/p/view/service/fahrrad/bahn_und_fahrrad.shtml?dbkanal_007=L01_S01_D001_KIN0011_top-navi-flyout_service-bahnfahrrad_LZ01">Bahn und Fahrrad</a></li>
                    <li><a href="/p/view/service/familie/kinder.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-kinder_LZ01">Reisen mit Kindern</a></li>
                    <li><a href="/p/view/service/geschaeftsreisen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-geschaeftsreisen_LZ01">Geschäftsreisen</a></li>
                    <li><a href="/p/view/service/barrierefrei/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-handicap_LZ01">Barrierefreies Reisen</a></li>
                    <li><a href="/p/view/service/60plus/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-senioren_LZ01">Generation 60plus</a></li></ul><ul>
                    <li><a href="/p/view/service/gruppen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-gruppen_LZ01">Gruppenreisen</a></li>
                    <li><a href="/p/view/service/fanecke/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-fanecke_LZ01">Services für Fußballfans</a></li>
                    <li><a href="/p/view/service/gepaeck/gepaeck.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_gepaeck-service_LZ01">DB Gepäckservice</a></li>
                    <li><a href="/p/view/service/umwelt/umwelt_uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-umwelt_LZ01">Umweltfreundlich reisen</a></li>
                    <li><a href="/p/view/service/reformation/reformation.shtml">Reformationsjubiläum</a></li></ul>
                
                <div class="footer">
                    <p><b>Tipp:</b> Keine Lust auf Kofferschleppen?</p>
                    <a href="/p/view/service/gepaeck/gepaeck.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_service-tipp-gepaeck_LZ01">Nutzen Sie unseren Gepäckservice!</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/p/view/bahncard/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-bahncard_LZ01" class="menu-link"><span>BahnCard</span></a>
            <div class="clearfix"><ul>
                    <li><a href="/p/view/bahncard/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-uebersicht_LZ01">Übersicht: BahnCard</a></li>
                    <li><a href="/p/view/bahncard/ueberblick/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bcfamilie_LZ01">Alle BahnCards</a></li>
                    <li><a href="https://www.bahn.de/-fahrkarten/privatkunde/bahncardrechner/bahncard_rechner_start.post?REQ0JourneyStopsSID=&amp;S=&amp;REQ0JourneyStopsZID=&amp;Z=&amp;tariffClass=2&amp;lang=de&amp;search=1&amp;dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bcberater_LZ01">BahnCard-Berater: Wann lohnt sich die BahnCard für Sie?</a></li></ul><ul>
                    <li><a href="/p/view/bahncard/bahnbonus/bahnbonus.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bahnbonus_LZ01">bahn.bonus Programm</a></li>
                    <li><a href="/p/view/bahncard/bahnbonus/bahnbonus-sammeln.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bbsammeln_LZ01">bahn.bonus-Punkte sammeln</a></li>
                    <li><a href="/p/view/bahncard/bahnbonus/bahnbonus_praemien_uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bbkatalog_LZ01">bahn.bonus-Punkte einlösen</a></li>
                    <li><a href="/p/view/bahncard/bahncomfort/bahncomfort.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-comfort_LZ01">bahn.bonus comfort Status</a></li></ul><ul>
                    <li><a href="/p/view/bahncard/vorteile/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-kartenvorteile-db_LZ01">Kartenvorteile bei der DB</a></li>
                    <li><a href="/p/view/bahncard/kooperationen/uebersicht.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-kartenvorteile-partner_LZ01">Kartenvorteile bei Partnern</a></li>
                    <li><a href="/p/view/bahncard/bahncard-services/bahncardservice.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bcservices_LZ01">BahnCard-Services</a></li></ul>
                
                <div class="footer">
                    <p><b>Tipp:</b> </p>
                    <a href="/p/view/bahncard/ueberblick/preise.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-flyout_bc-bcpreise_LZ01">BahnCard Preise im Überblick</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/p/view/bahnbusiness/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-geschaeftsreisen_LZ01" class="menu-link"><span>Geschäftskunden</span></a>
            <div class="clearfix"><ul>
                    <li><a href="/p/view/bahnbusiness/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-startseite_LZ01">Übersicht: Geschäftskunden</a></li>
                    <li><a href="/p/view/bahnbusiness/firmenkundenprogramme/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-vorteile_LZ01">Das Geschäftskundenprogramm</a></li>
                    <li><a href="/p/view/bahnbusiness/buchung/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-buchung-ueberblick_LZ01">Rund um Ihre Buchung</a></li></ul><ul>
                    <li><a href="/p/view/bahnbusiness/businesscards/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-bcbusiness_LZ01">Business BahnCards</a></li>
                    <li><a href="/p/view/bahnbusiness/services/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-services_LZ01">Services für Geschäftsreisende</a></li>
                    <li><a href="/p/view/bahnbusiness/news/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-news_LZ01">News für Geschäftsreisende</a></li></ul><ul>
                    <li><a href="/p/view/bahnbusiness/gruene_geschaeftsreisen.shtml">Nachhaltige Geschäftsreisen</a></li>
                    <li><a href="/p/view/hilfe/bahn_de/hilfe_fk.shtml?dbkanal_007=L01_S01_D001_KIN0001_top-navi-flyout_geschaeftsreisen-hilfscenter_LZ01">bahn.business Hilfecenter</a></li></ul>
                
                <div class="footer">
                    <p><b>Tipp:</b> </p>
                    <a href="http://wagen-eins.de/">Die neuesten Trends und hilfreiche Tipps für Business und Alltag lesen Sie in der aktuellen "WAGEN EINS"</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/p/view/urlaub/index.shtml?dbkanal_007=L01_S01_D001_KIN0004_top-navi-urlaub_LZ01" class="menu-link"><span>Städtereisen</span></a>
            <div class="clearfix"><ul>
                    <li><a href="/p/view/urlaub/index.shtml?dbkanal_007=L01_S01_D001_KIN0002_BH_urlaub-flyout-uebersicht_LZ01">Übersicht: Städtereisen</a></li>
                    <li><a href="/p/view/urlaub/staedtereisen/staedtereisen.shtml?dbkanal_007=L01_S01_D001_KIN0001_urlaub-flyout-Staedtereisen_LZ01">Bahn- und Städtereisen</a></li></ul><ul>
                    <li><a href="/p/view/urlaub/hotel/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_urlaub-flyout-Hotels_LZ01">Hotels und Unterkünfte</a></li>
                    <li><a href="/p/view/urlaub/pauschalreisen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_urlaub-flyout-lastminute_LZ01">Last Minute und Pauschalreisen</a></li></ul><ul>
                    <li><a href="/p/view/urlaub/mietwagen/index.shtml?dbkanal_007=L01_S01_D001_KIN0001_urlaub-flyout-Mietwagen_LZ01">Mietwagen und Carsharing</a></li>
                    <li><a href="/p/view/urlaub/events/events.shtml?dbkanal_007=L01_S01_D001_KIN0001_urlaub-flyout-Events_LZ01">Musicals und Events</a></li></ul>
                
                <div class="footer">
                    <p><b>Tipp:</b> </p>
                    <a href="/p/view/urlaub/staedtereisen/sommerkampagne2017.shtml?dbkanal_007=L01_S01_D001_KIN0001_S_urlaub-flyout-tip_LZ01">Nächster Halt: Sommer! Entdecken Sie Last Minute-Angebot rund um Ihren Urlaub.</a>
                </div>
            </div>
        </li>
    </ul>
	
	
    <ul class="main-nav-right">
	
      <li class="mb">
        <a href="https://fahrkarten.bahn.de/privatkunde/start/start.post?scope=meinebahn&amp;lang=de&amp;country=DEU&amp;dbkanal_007=L01_S01_D001_KIN0004_TOP-NAVI-MEINE-BAHN_LZ01" class="menu-link"><span>Meine Bahn</span></a>
        
            <div class="clearfix"><ul>
                    <li><a href="/p/view/meinebahn/login.shtml">Übersicht</a></li>
                    <li><a href="https://www.bahn.de/-fahrkarten/privatkunde/start/start.post?from_page=meinebahn&amp;scope=meineletztebuchung&amp;lang=de&amp;country=DEU">Meine letzten Buchungen bearbeiten</a></li></ul><ul>
                    <li><a href="https://www.bahn.de/-fahrkarten/privatkunde/bahncardportal/bahncard_portal_start.post?from_page=meinebahn&amp;scope=bcpr&amp;lang=de&amp;country=DEU">Meine Prämienpunkte einlösen</a></li>
                    <li><a href="https://www.bahn.de/-fahrkarten/privatkunde/start/start.post?from_page=meinebahn&amp;scope=bahnregaendern&amp;lang=de&amp;country=DEU">Meine Kontodaten bearbeiten</a></li></ul><ul>
                    <li><a href="https://www.bahn.de/-fahrkarten/privatkunde/bahncardportal/bahncard_portal_start.post?from_page=meinebahn&amp;scope=bcinhaber&amp;lang=de&amp;country=DEU">Meine BahnCard bearbeiten</a></li></ul>
                
            </div>
      </li>
      
      <li class="loginform">
        <a href="https://fahrkarten.bahn.de/cache/start/start.post?lang=de&amp;scope=login&amp;dbkanal_007=L01_S01_D001_KIN0004_TOP-NAVI-LOGIN_LZ01" class="menu-link"><span>Login</span></a>
        
<div>
	<form id="lgn_cltype">
		<fieldset>
			<div class="pullleft">
				<input type="radio" id="radio01" name="lgn_cltype" value="1" checked="">
				<label for="radio01"><span></span>Privatkunden</label>
			</div>
			<div class="pullleft">
				<input type="radio" id="radio02" name="lgn_cltype" value="2">
				<label for="radio02"><span></span>Firmenkunden</label>
			</div>
		</fieldset>
	</form>
	<form action="https://fahrkarten.bahn.de/privatkunde/start/start.post" id="login_form_customer" method="post" class="contentlogin active" data-type="pk" data-pos="ContentNavigation">
		<input type="hidden" name="lang" value="de">
		<input type="hidden" name="country" value="DEU">
		<input type="hidden" name="scope" value="bahnde">
		<div class="input-wrapper">
			<input class="text" id="mn-login-username" type="text" name="username" value="" maxlength="60" autocomplete="off" placeholder="Benutzername">
		</div>
		<div class="input-wrapper">
			<input class="text" id="mn-login-password" type="password" name="password" maxlength="80" placeholder="Passwort">
		</div>
		<input class="submit-btn" type="submit" name="login-submit" value="Login">
		<ul class="pullleft">
			<li>
				<a href="https://fahrkarten.bahn.de/cache/start/start.post?scope=pwvergessen&amp;lang=de">
				Login-Daten vergessen?
				</a>
			</li>
			<li>
				<a href="https://fahrkarten.bahn.de/cache/start/start.post?scope=bahnreg&amp;lang=de">
				Erstmalig anmelden
				</a>
			</li>
		</ul>
	</form>
	<form action="https://fahrkarten.bahn.de/grosskunde/start/kmu_start.post?scope=login" id="login_form_business" method="post" class="contentlogin" data-type="gk" data-pos="ContentNavigation">
		<input type="hidden" name="lang" value="de">
		<input type="hidden" name="country" value="DEU">
		<input type="hidden" name="scope" value="bahnde">
		<div class="input-wrapper">
			<input class="text" id="mn-login-username-bs" type="text" name="username" value="" maxlength="60" autocomplete="off" placeholder="Benutzername">
		</div>
		<div class="input-wrapper">
			<input class="text" id="mn-login-password-bs" type="password" name="password" maxlength="80" placeholder="Passwort">
		</div>
		<input class="submit-btn" type="submit" name="login-submit" value="Login">
		<ul class="pullleft">
			<li>
				<a href="https://fahrkarten.bahn.de/grosskunde/start/kmu_start.post?scope=pwvergessen&amp;lang=de">
				Login-Daten vergessen?
				</a>
			</li>
			<li>
				<a href="/app_firmenkunden_varianten_de_DEU.shtml">
				Erstmalig anmelden
				</a>
			</li>
		</ul>
	</form>
</div>
     </li>
</ul>