<table id="resultsOverview" class="result js_adjustCellWidth " cellspacing="0" summary="Diese Tabelle zeigt die Ergebnisse Ihrer aktuellen Verbindungssuche">
<tr>
	<ng-template ngFor let-column [ngForOf]="component.selectColumns">
	<th *ngIf="column === 'departStation'" class="station first" style="width: 208px;">Abfahrtsstation</th>
	<th *ngIf="column === 'arrivalStation'" class="station first" style="width: 208px;">Ankunftstation</th>
	<th *ngIf="column === 'departure'" class="time sort " style="width: 167px;">Abfahrtszeit</th>
	<th *ngIf="column === 'arrival'" class="time sort " style="width: 167px;">Ankunftszeit</th>
	<th *ngIf="column === 'length'" class="duration sort " style="width: 73px;">Dauer</th>
	<th *ngIf="column === 'stops'" class="changes sort " style="width: 72px;">Umst.</th>
	<th *ngIf="column === 'type'" class="products" style="width: 78px;">Produkte</th>
	<th *ngIf="column === 'price'" class="farePep sort " style="width: 217px;">Sparangebote</th>
	<th *ngIf="column === 'flexPrice'" class="fareStd sort " style="width: 125px;">Flexpreis</th>
	</ng-template>
</tr>
<tr *ngFor="let train of trains" class="firstrow">
	<ng-template ngFor let-column [ngForOf]="component.selectColumns">
	<td *ngIf="column === 'departStation'" class="station first " style="width: 208px;">{{train.departStation}}</td>
	<td *ngIf="column === 'arrivalStation'" class="station first " style="width: 208px;">{{train.arrivalStation}}</td>
	<td *ngIf="column === 'departure'" class="time" style="width: 167px;">{{train.departure}}</td>
	<td *ngIf="column === 'arrival'" class="time" style="width: 167px;">{{train.arrival}}</td>
	<td *ngIf="column === 'length'" class="duration lastrow">{{train.length}}</td>
	<td *ngIf="column === 'stops'" class="changes lastrow">{{train.stops}}</td>
	<td *ngIf="column === 'type'" class="products lastrow">{{train.type}}</td>
	<td *ngIf="column === 'price'" class="farePep lastrow button-inside tablebutton borderright"><span class="fareOutput">{{train.price}}</span></td>
	<td *ngIf="column === 'flexPrice'" class="farePep lastrow button-inside tablebutton borderright"><span class="fareOutput">{{train.flexPrice}}</span></td>
	</ng-template>
</tr>
</table>