<div class="mgn-loyalties">
	<div class="container">
	
		<div class="row">
			<div class="col-xs-12">
				<p class="mgn-loyalties-header">{{component.title}}<p>
			</div>
		</div>
					
		<div class="row">
			<div class="col-sm-4">

					<div class="mgn-loyalty" [style.background-image]="backgroundStyle(loyalty(component.loyalty1).image)">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.loyalty1)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.loyalty1).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.loyalty1).points}}</label><br>
								<label>pts</label>
							</div>
						</div>
					</div>

					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty11)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty11).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty11).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>
					
					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty12)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty12).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty12).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>
				
			</div>
			<div class="col-sm-4">

					<div class="mgn-loyalty" [style.background-image]="backgroundStyle(loyalty(component.loyalty2).image)">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.loyalty2)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.loyalty2).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.loyalty2).points}}</label><br>
								<label>pts</label>
							</div>
						</div>
					</div>

					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty21)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty21).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty21).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>
					
					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty22)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty22).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty22).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>

			</div>
			<div class="col-sm-4">

					<div class="mgn-loyalty" [style.background-image]="backgroundStyle(loyalty(component.loyalty3).image)">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.loyalty3)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.loyalty3).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.loyalty3).points}}</label><br>
								<label>pts</label>
							</div>
						</div>
					</div>

					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty31)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty31).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty31).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>
					
					<div class="mgn-loyalty-sec">
						<div class="points">
							<div class="destination">
								<label>{{loyalty(component.secLoyalty32)["@name"]}}&nbsp;<i class="icon-plane"></i></label><br>
								<label>{{loyalty(component.secLoyalty32).destination}}</label>
							</div>
							<div class="point">
								<label>{{loyalty(component.secLoyalty32).points}}</label><label>&nbsp;pts</label>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>