<table class="mgn-train-time-table" cellspacing="0">
<tr>
	<ng-template ngFor let-column [ngForOf]="component.selectColumns">
	<th *ngIf="column === 'departStation'" style="width: 208px;">Dep. station</th>
	<th *ngIf="column === 'arrivalStation'" style="width: 208px;">Arr. station</th>
	<th *ngIf="column === 'departure'" style="width: 167px;">Dep. time</th>
	<th *ngIf="column === 'arrival'" style="width: 167px;">Arr. time</th>
	<th *ngIf="column === 'length'" style="width: 73px;">Length</th>
	<th *ngIf="column === 'stops'" style="width: 72px;">Num stops</th>
	<th *ngIf="column === 'type'" style="width: 78px;">Type</th>
	<th *ngIf="column === 'price'" style="width: 217px;">Price</th>
	<th *ngIf="column === 'flexPrice'" style="width: 125px;">Flex price</th>
	</ng-template>
</tr>
<tr *ngFor="let train of trains | async" class="firstrow">
	<ng-template ngFor let-column [ngForOf]="component.selectColumns">
	<td *ngIf="column === 'departStation'" style="width: 208px;">{{train.from}}</td>
	<td *ngIf="column === 'arrivalStation'" style="width: 208px;">{{train.to}}</td>
	<td *ngIf="column === 'departure'" style="width: 167px;">{{train.start}}</td>
	<td *ngIf="column === 'arrival'" style="width: 167px;">{{train.end}}</td>
	<td *ngIf="column === 'length'">{{train.length}}</td>
	<td *ngIf="column === 'stops'">{{train.numStops}}</td>
	<td *ngIf="column === 'type'">{{train.type}}</td>
	<td *ngIf="column === 'price'">{{train.price}}</td>
	<td *ngIf="column === 'flexPrice'">{{train.flexPrice}}</td>
	</ng-template>
</tr>
</table>