.mgn-train-header{
	background-color: #6A9000;
	margin-bottom: 0px!important;
}

.mgn-train-navigation {
	background-color: #9BB454;
}

.mgn-train-footer {
	background-color: #2A3E00;
}

.mgn-train-time-table {
	border: 1px;
}