<div id="doc">
	<!-- Header -->
	<header id="header"></header>
	
	<!-- Navigation -->
	<nav class="red"></nav>
	
	<!-- Content -->
	<div class="content clearfix" *ngIf="isDataLoaded">
		<!-- Main areas -->
		<div class="section clearfix ">
			<div class="modul bild-teaser-auswahlliste js-dropdown-sets-image twoCol" areaName="left" cms-area main-area></div>
		
			<div class="modul bild-teaser-auswahlliste js-dropdown-sets-image twoCol" areaName="right" cms-area main-area></div>
		</div>
		
		<!-- Schedule area -->
		<div class="section clearfix full-width">
			<div class="modul marketing-teaser" areaName="schedule" cms-area schedule-area></div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer class="clearfix"></footer>
</div>