<ng-template ngFor let-component [ngForOf]="components">
    <div app-title *ngIf="component['mgnl:template'] === 'angular-standalone:components/title'" [component]="component" cms-component></div>
    <div app-subtitle *ngIf="component['mgnl:template'] === 'angular-standalone:components/subtitle'" [component]="component" cms-component></div>
    <div app-text-image *ngIf="component['mgnl:template'] === 'angular-standalone:components/text-image'" [component]="component" cms-component></div>
</ng-template>