<div class="container-fluid sitemap">
	<div class="row">
		<div class="col-md-2">
			<p class="nav-footer-title">About Us</p>
			<ul class="nav-footer">
				<li><a id="linkAboutUs" href="https://www.airasiabig.com/my/en/aboutus-airasiabigloyalty?sel=1">AirAsia BIG Loyalty</a></li>
				<li><a id="linkShareholders" href="https://www.airasiabig.com/my/en/aboutus-shareholders?sel=1">Shareholders</a></li>
				<li><a id="linkPartner" href="https://www.airasiabig.com/my/en/aboutus-partnerwithus?sel=1">Partner with Us</a></li>
				<li><a id="workwithus" href="https://www.airasiabig.com/my/en/aboutus-workwithus?sel=1">Work with Us</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<p class="nav-footer-title">BIG Membership</p>
			<ul class="nav-footer">
				<li><a id="linkFFP" href="https://www.airasiabig.com/my/en/big-membership#freedomflyerprogramme">Freedom Flyer Programme</a></li>
				<li><a id="linkWhyJoin" href="https://www.airasiabig.com/my/en/big-membership#whyjoin">Why Join</a></li>
				<li><a id="linkWaytoEarn" href="https://www.airasiabig.com/my/en/big-membership#waystoearn">Ways to Earn</a></li>
				<li><a id="linkWaytoRedeem" href="https://www.airasiabig.com/my/en/big-membership#waystoredeem">Ways to Redeem</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<p class="nav-footer-title">Happenings</p>
			<ul class="nav-footer">
				<li class="category"><a id="linkPressRelease" href="https://www.airasiabig.com/my/en/press-release/event">Event</a></li>
				<li class="category"><a id="linkPressRelease" href="https://www.airasiabig.com/my/en/press-release/online-campaign">Online Campaign</a></li>
				<li class="category"><a id="linkPressRelease" href="https://www.airasiabig.com/my/en/press-release/news">News</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<p class="nav-footer-title">Country / Region</p>
			
			<a href="#" data-jq-dropdown="#drpCountryFooter" class="dropdown">
            		<img src="https://sitestatic.airasiabig.com/uploadswebcms/public/599/982/d14/599982d14cfb8551185252.png" width="27px" height="13px"> Malaysia
            	</a>
            	<br><br>
            	
            	<p class="nav-footer-title">Language</p>
            	
            	<div id="langDiv">
                <ul class="nav-footer languages">
                		<li>
                    		<a href="javascript:;" data-request="onSwitchLocale" data-request-data="locale: 'en'" onclick="changeLang('English','en');" class="active">English</a>
                    	</li>
                    	<li>
                    		<a href="javascript:;" data-request="onSwitchLocale" data-request-data="locale: 'ms'" onclick="changeLang('Bahasa Melayu','ms');">Bahasa Melayu</a>
                    	</li>
                    	<li>
                  		<a href="javascript:;" data-request="onSwitchLocale" data-request-data="locale: 'zh'" onclick="changeLang('中文','zh');">中文</a>
                   	</li>
            		</ul>
            </div>
		</div>
		<div class="col-md-3">
			<p class="nav-social-media" style="color: #c1c1c1 !important;">Follow us on social media</p>
			
			<div class="social-columns">
				<div class="social-column">
					<a href="https://www.facebook.com/airasiabig/" target="_blank">
						<img class="footer-icon" src="https://sitestatic.airasiabig.com/uploadswebcms/public/599/a4f/3ce/599a4f3ceaa91680217670.png">
					</a>
				</div>
				<div class="social-column">
					<a href="https://www.instagram.com/airasiabig/?hl=en" target="_blank">
						<img class="footer-icon" src="https://sitestatic.airasiabig.com/uploadswebcms/public/599/a4d/5c2/599a4d5c21410295821584.png">
					</a>
				</div>
				<div class="social-column">
					<a href="https://twitter.com/airasiabig?lang=en" target="_blank">
						<img class="footer-icon" src="https://sitestatic.airasiabig.com/uploadswebcms/public/599/a4d/54d/599a4d54dc936480996208.png">
					</a>
				</div>
				<div class="social-column">
					<a href="https://www.youtube.com/user/mybigshotschannel" target="_blank">
						<img class="footer-icon" src="https://sitestatic.airasiabig.com/uploadswebcms/public/599/a4d/4ad/599a4d4ad2c7a355679957.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid disclaimer">
	<div class="meta clearfix">
		<ul class="list-inline">
			<li>© 2017 Think BIG Digital Sdn. Bhd. (924656-U). All Rights Reserved.</li>
			<li><a href="https://www.airasiabig.com/my/en/ask-big?topic=26&amp;sub=-1&amp;subsub=-1&amp;article=72">Privacy</a></li>
			<li><a href="https://www.airasiabig.com/my/en/ask-big?topic=26&amp;sub=-1&amp;subsub=-1&amp;article=71">Terms of Use</a></li>
		</ul>
	</div>
</div>
